@{
    ViewData["Title"] = "Home Page";
}

<style>

    html, body {
    margin: 0;
    height: 100%;
     background-repeat: no-repeat;
    background-color: #cccccc;
}


</style>
<div>
    <img src="~/img/Untitled2.jpg" />
</div>
